@model IEnumerable<EntityLayer.Concrete.Category>
@{
    ViewBag.Title = "Kategoriler";
    Layout = "~/Views/Shared/_WriterPanel.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h2>GetKategoriList</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Başlıklar<</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryID</td>
            <td>@item.CategoryName</td>
            <td>@item.CategoryDescription</td>
            <td>@item.CategoryStatus</td>
            <td><a href="/Admin/DeleteCategory/@item.CategoryID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Admin/CategoryUpdate/@item.CategoryID" class="btn btn-warning">Güncelle</a></td>
            <td><a href="" class="btn btn-warning">Başlıklar</a></td>

        </tr>
    }
</table>
<a href="/Category/AddCategory" class="btn btn-info">Yeni Kategori</a>


